<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="myPet"
          class="spring_introduction.Dog"
          init-method="init"
          destroy-method="destroy"
          scope="prototype">
        <!--singleton - Подходит для stateless объектов (объекты состояния)-->
        <!--prototype - Подходит для statefull объектов (объекты состояния)-->
    <!--Если у бина scope = prototype, то init-method будет вызываться для каждого новосозданного бина-->
        <!--Для этого бина destroy-method вызываться не будет-->
        <!--программисту необходимо самостоятельно писать код для закрытия/освобождения ресурсов, которые были использованы в бине-->

    </bean>


</beans>